= form.label :login, "Login"
%br
= form.text_field :login
%br
%br
= form.label :password
%br
= form.password_field :password
%br
%br
= form.label :openid_identifier, "Or use OpenID instead of your email / password" 
%br
= form.text_field :openid_identifier
%br