#header
  #logo
    %h1
      %a{:href => "#"}
        %span Erlang
        Blogs
    %p A community site for Erlang developers 
  #menu
    %ul{:id => "main"}
      %li{:class => "current_page_items"}
        %a{:href => "#"}
          = link_to "Homepage", :controller => "home", :action => "index"
      %li
        %a{:href => "#"}
          = link_to "Blogs", :controller => "blog", :action => "index"
      %li
        %a{:href => "#"}
          = link_to "Projects", :controller => "project", :action => "index" 
      %li
        %a{:href => "#"}= ""
      %li
        %a{:href => "#"}= ""
      %li
        %a{:href => "#"}= ""
      %li
        %a{:href => "#"}= ""
      %li
        %a{:href => "#"} Login
      %li
        = fb_login_button('window.location = "/facebook/link_user_accounts";')
