!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    = javascript_include_tag :defaults
    = fb_connect_javascript_tag
    = javascript_include_tag "facebook"
    = init_fb_connect "XFBML"
    = stylesheet_link_tag 'application'
  %body
    = render :partial => "shared/head"
    #wrapper
      #page
        #sidebar1{:class => "sidebar"}
          = ""#render :partial => "shared/left_sidebar"
        #content
          = ""#render :partial => "shared/menubar"
          = yield
        #sidebar2{:class => "sidebar"}
        %div{:style => "clear: both;"}= "&nbsp;"
    = render :partial => "shared/footer"
